<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="I'm a Frontend Developer who is passionate about coding, learning new technology, designing responsive and appealing websites">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@100;400;600&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Andrea Larsen Portfolio</title>
    </head>
    <body class="body-home">
   

        <div class="about-me">


            <h2><%= portfolioName %></h2>
                

            <div>
                <img id="image" src="<%= portfolioImage %>" width="500px" alt="Dynamic Image">               

                
                <p><%= portfolioInfo %></p>                                                
           </div>               

        </div>

        <script src="/public/main.js"></script>
        <script src="/server.js"></script>
    </body>

 

</html>